@model prjChatBot.Models.Menu
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    a{
      text-decoration:none;
    }
</style>
<h1>Menu</h1>
<a href="MenuCreate">新增</a>

@if (Model != null)
{
    <img src="@Model.ImagePath" alt="Uploaded Image" />
    <p>@Model.TextContent</p>
}
else
{
    <p>目前沒有上傳的內容。</p>
}